# /dev/dri/
allow adbd gpu_device:dir r_dir_perms;
allow { appdomain -isolated_app } gpu_device:dir r_dir_perms;
allow bootanim gpu_device:dir r_dir_perms;
allow healthd gpu_device:dir r_dir_perms;
allow mediacodec gpu_device:dir r_dir_perms;
allow mediaserver gpu_device:dir r_dir_perms;
allow surfaceflinger gpu_device:dir r_dir_perms;
allow system_server gpu_device:dir r_dir_perms;

# /sys/devices/pci0000:00/0000:00:02.0/
type sysfs_gpu, fs_type, sysfs_type;
allow adbd sysfs_gpu:file r_file_perms;
allow { appdomain -isolated_app } sysfs_gpu:file r_file_perms;
allow bootanim sysfs_gpu:file r_file_perms;
allow healthd sysfs_gpu:file r_file_perms;
allow mediacodec sysfs_gpu:file r_file_perms;
allow mediaserver sysfs_gpu:file r_file_perms;
allow surfaceflinger sysfs_gpu:file r_file_perms;
allow system_server sysfs_gpu:file r_file_perms;
