# Mount /mnt/vendor/factory
allow init mnt_vendor_file:dir mounton;

# Mount /me176c in recovery and charger mode
allow init me176c_config_file:dir mounton;

type sysfs_init, fs_type, sysfs_type;
allow init sysfs_init:file w_file_perms;

# Add wake_lock to avoid suspend (TODO: Remove when suspend is fixed)
wakelock_use(init)
