# /sys/devices/pci0000:00/0000:00:02.0/config
type sysfs_gpu_pci_config, fs_type, sysfs_type;
allow mediacodec sysfs_gpu_pci_config:file r_file_perms;
