# Battery daemon
type upi_ug31xx, domain;
domain_trans(init, rootfs, upi_ug31xx)

# Needed to switch to system user/group
# I don't like this very much, but system user is unable to access /sbin/upi_ug31xx
allow upi_ug31xx self:capability { setuid setgid };

# Kernel device
type upi_ug31xx_device, dev_type;
allow upi_ug31xx upi_ug31xx_device:chr_file rw_file_perms;

# Files in vendor data partition
type upi_ug31xx_file, file_type;
allow upi_ug31xx upi_ug31xx_file:file rw_file_perms;
allow upi_ug31xx vendor_data_file:dir search;

# No need to read properties
# avc: denied { map } path="/dev/__properties__" scontext=u:r:upi_ug31xx:s0 tcontext=u:object_r:properties_device:s0 tclass=dir
dontaudit upi_ug31xx properties_device:dir map;
