on boot
    insmod /vendor/lib/modules/brcmutil.ko
    insmod /vendor/lib/modules/brcmfmac.ko

    # Wait for the WiFi driver to finish loading
    wait /sys/class/rfkill/rfkill2/soft
    chown system system /sys/class/rfkill/rfkill2/soft

    # Disable WiFi by default (will by enabled by Android later)
    write /sys/class/rfkill/rfkill2/soft 1

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin \
    -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot
