# TODO: Brightness

on init
    chown system system /sys/class/backlight/intel_backlight/brightness
    chown system system /sys/class/backlight/acpi_video0/brightness

on post-fs
    mkdir /data/system 0770 system system

on boot
    chown system graphics /sys/kernel/debug/sync/sw_sync
    symlink /sys/kernel/debug/sync/sw_sync /dev/sw_sync

    # Give permission to system to use i915_videostatus sysfs interface
    chown system system /sys/class/drm/card0/power/i915_videostatus
