on early-init
    chown system system /sys/devices/system/cpu/intel_pstate/max_perf_pct
    chmod 0644 /sys/devices/system/cpu/intel_pstate/max_perf_pct
    chown system system /sys/devices/system/cpu/intel_pstate/no_turbo
    chmod 0644 /sys/devices/system/cpu/intel_pstate/no_turbo

service thermald /system/bin/thermald -p 5
    class core
    critical
    seclabel u:r:watchdogd:s0
