import /init.memory.rc
import /init.battery.rc
import /init.thermal.rc
import /init.power.rc
import /init.audio.rc
import /init.wifi.rc
import /init.${ro.hardware}.usb.rc

on early-init
    mount debugfs none /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on init
    # Android creates by-name disk links with the disk controller
    # in the generated path, so that the names pulled out of the GPT
    # can be associated with the correct disk. Create a shortcut to
    # /dev/block/by-name so that we can use the same fstabs everywhere.
    symlink /dev/block/platform/80860F14:00/by-name /dev/block/by-name

on late-init
    write /dev/cpuset/foreground/cpus 0-2
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-1
    write /dev/cpuset/top-app/cpus 0-3

on fs
    mount_all /fstab.${ro.hardware}

on post-fs
    # Enable SELinux labeling
    restorecon_recursive /oemcfg
    restorecon_recursive /factory

on post-fs-data
    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on charger
    start watchdogd

service watchdogd /sbin/watchdogd 10 30
    user root
    class core
    oneshot
    seclabel u:r:watchdogd:s0
