/sys/devices/system/cpu/cpu*  online  0664  system  system

# Graphics
/dev/dri             0666  root  graphics
/dev/dri/card0       0666  root  graphics
/dev/graphics        0660  root  graphics
/dev/graphics/fb0    0660  root  graphics
/dev/dri/controlD64  0660  root  graphics

# Backlight
/sys/devices/pci*  intel_backlight/brightness  0664  system  system

# Thermal daemon
/sys/devices/virtual/thermal/thermal_zone*    trip_point_0_temp  0644  system  system
/sys/devices/virtual/thermal/thermal_zone*    trip_point_1_temp  0644  system  system
/sys/devices/virtual/thermal/cooling_device*  cur_state          0644  system  system

/sys/devices/virtual/powercap/intel-rapl/intel-rapl*  enabled                      0644  system  system
/sys/devices/virtual/powercap/intel-rapl/intel-rapl*  constraint_0_power_limit_uw  0644  system  system
/sys/devices/virtual/powercap/intel-rapl/intel-rapl*  constraint_0_time_window_us  0644  system  system
/sys/devices/virtual/powercap/intel-rapl/intel-rapl*  constraint_1_power_limit_uw  0644  system  system
/sys/devices/virtual/powercap/intel-rapl/intel-rapl*  constraint_1_time_window_us  0644  system  system

# UPI gauge (battery)
/dev/ug31xx  0660  system  system
