service vendor.kernel-modules /vendor/bin/modprobe -a -d /vendor/lib/modules \
        brcmfmac \
        hci_uart \
        snd-intel-sst-acpi snd-soc-sst-bytcr-rt5640
    class early_hal
    oneshot
