on boot
    insmod /vendor/lib/modules/snd-soc-rl6231.ko
    insmod /vendor/lib/modules/snd-soc-rt5640.ko

    insmod /vendor/lib/modules/snd-soc-acpi.ko
    insmod /vendor/lib/modules/snd-soc-acpi-intel-match.ko

    insmod /vendor/lib/modules/snd-soc-sst-atom-hifi2-platform.ko
    insmod /vendor/lib/modules/snd-intel-sst-core.ko
    insmod /vendor/lib/modules/snd-intel-sst-acpi.ko

    insmod /vendor/lib/modules/snd-soc-sst-bytcr-rt5640.ko
