import /init.recovery.${ro.hardware}.common.rc

on init
    mount configfs none /config

on late-init
    mkdir /config/usb_gadget/g1/functions/mass_storage.0

on fs
    mkdir /me176c
    mount ext4 /dev/block/by-name/config /me176c rw nosuid nodev noatime data=ordered
