on early-init
    chown system system /sys/module/ug31xx_battery/parameters/op_options

on fs
    # UPI gauge
    chown system system /vnddat/upi_gg
    chmod 0660 /vnddat/upi_gg
    chown system system /vnddat/upi_bo
    chmod 0664 /vnddat/upi_bo

on charger
    # UPI gauge
    mkdir /vnddat 0775 system system
    mount ext4 /dev/block/by-name/config /vnddat rw nosuid nodev noatime data=ordered
    chown system system /vnddat/upi_gg
    chmod 0660 /vnddat/upi_gg
    chown system system /vnddat/upi_bo
    chmod 0664 /vnddat/upi_bo

    start upi_ug31xx

service charger /charger
    class charger
    seclabel u:r:healthd:s0

service upi_ug31xx /sbin/upi_ug31xx
    class core
    critical
    seclabel u:r:upi_ug31xx:s0
