on early-init
    chown system system /sys/devices/system/cpu/intel_pstate/max_perf_pct
    chmod 0644 /sys/devices/system/cpu/intel_pstate/max_perf_pct
    chown system system /sys/devices/system/cpu/intel_pstate/no_turbo
    chmod 0644 /sys/devices/system/cpu/intel_pstate/no_turbo

on init
    # TODO: Avoid going into suspend until it works properly
    write /sys/power/wake_lock ME176C.DisableSuspend

on boot
    # Enable runtime PM for PCI devices
    write /sys/bus/pci/devices/0000:00:00.0/power/control auto
    write /sys/bus/pci/devices/0000:00:02.0/power/control auto
    write /sys/bus/pci/devices/0000:00:03.0/power/control auto
    write /sys/bus/pci/devices/0000:00:14.0/power/control auto
    write /sys/bus/pci/devices/0000:00:16.0/power/control auto
    write /sys/bus/pci/devices/0000:00:16.0/dwc3.1.auto/power/control auto
    write /sys/bus/pci/devices/0000:00:1a.0/power/control auto
    write /sys/bus/pci/devices/0000:00:1f.0/power/control auto
