on early-init
    mount debugfs none /sys/kernel/debug mode=0755

    # Needed to fix "Permission Denied" error when using webview
    chmod 0222 /sys/kernel/debug/tracing/trace_marker

on init
    # Android creates by-name disk links with the disk controller
    # in the generated path, so that the names pulled out of the GPT
    # can be associated with the correct disk. Create a shortcut to
    # /dev/block/by-name so that we can use the same fstabs everywhere.
    symlink /dev/block/platform/80860F14:00/by-name /dev/block/by-name

    # TODO: Avoid going into suspend until it works properly
    write /sys/power/wake_lock ME176C.DisableSuspend

    # USB gadget configuration
    mkdir /config/usb_gadget/g1
    write /config/usb_gadget/g1/idVendor 0x0b05
    write /config/usb_gadget/g1/idProduct 0x7770
    mkdir /config/usb_gadget/g1/strings/0x409
    mkdir /config/usb_gadget/g1/configs/b.1
    mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409
    mkdir /config/usb_gadget/g1/functions/ffs.adb
    mkdir /config/usb_gadget/g1/functions/ffs.mtp
    mkdir /config/usb_gadget/g1/functions/ffs.ptp
    setprop sys.usb.controller dwc3.1.auto

    # Permissions
    chown system system /sys/module/ug31xx_battery/parameters/op_options

on fs
    # Battery
    chown system system /vnddat/upi_gg
    chmod 0660 /vnddat/upi_gg
    chown system system /vnddat/upi_bo
    chmod 0664 /vnddat/upi_bo

on early-boot
    write /config/usb_gadget/g1/strings/0x409/manufacturer ${ro.product.manufacturer}
    write /config/usb_gadget/g1/strings/0x409/product ${ro.product.model}
    write /config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}

on boot
    setprop sys.usb.configfs 1

    # Enable runtime PM where possible
    write /sys/bus/pci/devices/0000:00:00.0/power/control auto
    write /sys/bus/pci/devices/0000:00:02.0/power/control auto
    write /sys/bus/pci/devices/0000:00:03.0/power/control auto
    write /sys/bus/pci/devices/0000:00:14.0/power/control auto
    write /sys/bus/pci/devices/0000:00:16.0/power/control auto
    write /sys/bus/pci/devices/0000:00:1a.0/power/control auto
    write /sys/bus/pci/devices/0000:00:1f.0/power/control auto
    write /sys/bus/platform/devices/dwc3.1.auto/power/control auto

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idProduct 0x7770

on property:sys.usb.config=mtp && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idProduct 0x7772
    symlink /config/usb_gadget/g1/functions/ffs.mtp /config/usb_gadget/g1/configs/b.1/f1

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idProduct 0x7773
    symlink /config/usb_gadget/g1/functions/ffs.mtp /config/usb_gadget/g1/configs/b.1/f1

on property:sys.usb.config=ptp && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idProduct 0x7776
    symlink /config/usb_gadget/g1/functions/ffs.ptp /config/usb_gadget/g1/configs/b.1/f1

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=ptp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idProduct 0x7777
    symlink /config/usb_gadget/g1/functions/ffs.ptp /config/usb_gadget/g1/configs/b.1/f1
