import /init.recovery.${ro.hardware}.common.rc

on init
    mount configfs none /config

on late-init
    mkdir /config/usb_gadget/g1/functions/mass_storage.0

on fs
    mkdir /vnddat
    mount ext4 /dev/block/by-name/config /vnddat rw nosuid nodev noatime data=ordered

    mkdir /factory
    mount ext4 /dev/block/by-name/factory /factory ro nosuid nodev noatime data=ordered

on early-boot
    # Factory partition was only needed to read the serial number
    umount /factory

service upi_ug31xx /sbin/upi_ug31xx
    seclabel u:r:upi_ug31xx:s0
